html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.background {
  background-image: url(https://images.squarespace-cdn.com/content/v1/585d8ae8d2b857ddbd61ebf4/1637733891426-7PQCRKW4SP6FXSTBSWYZ/IMG_6638.jpeg?format=750w);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.center {
  text-align: center;
  justify-content: center;
}

.box {
  border: 2px solid rgb(33, 33, 33);
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
}

.hr {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: lightblue;
}

.text-white {
  color: white !important;
}

.custom-text {
  text-decoration: underline;
  font-size: 1.5rem;
}
